<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.visma.blue"
          android:installLocation="auto">

    <application
        android:name="com.visma.blue.BlueApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/bluebackupscheme"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/visma_blue_icon_title"
        android:theme="@style/NordicCoolMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="fullBackupContent">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Adding this here makes the app download the dependency on installation instead of on first use. -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>

        <activity
            android:name=".BlueMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NordicCoolMaterialTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/jpg"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/jpeg"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/png"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/gif"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/bmp"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name="PdfFileComponent"
            android:targetActivity=".BlueMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${FabricApiKey}"/>

        <provider
            android:name=".provider.BlueContentProvider"
            android:authorities="com.visma.blue.provider"
            android:exported="false"
            android:grantUriPermissions="false"/>
    </application>

</manifest>
